<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GuangZhou_GbEntities" connectionString="metadata=res://*/SqlServer.ip209.GuangZhou.Gb.Model1.csdl|res://*/SqlServer.ip209.GuangZhou.Gb.Model1.ssdl|res://*/SqlServer.ip209.GuangZhou.Gb.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_Gb;User ID=sa;Password=hantele;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GuangZhou_GbEntities_fc" connectionString="metadata=res://*/SqlServer.ip209.GuangZhou.GbFlowControl.Model1.csdl|res://*/SqlServer.ip209.GuangZhou.GbFlowControl.Model1.ssdl|res://*/SqlServer.ip209.GuangZhou.GbFlowControl.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_Gb;Persist Security Info=True;User ID=sa;Password=hantele;Connect Timeout=0;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GuangZhou_GbEntities_fc_ms" connectionString="metadata=res://*/SqlServer.ip209.GuangZhou.GbFlowControlms.Model1.csdl|res://*/SqlServer.ip209.GuangZhou.GbFlowControlms.Model1.ssdl|res://*/SqlServer.ip209.GuangZhou.GbFlowControlms.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_Gb;User ID=sa;Password=hantele;Connect Timeout=0;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GuangZhou_GiGET" connectionString="metadata=res://*/SqlServer.ip209.GuangZhou.GiGET.Model1.csdl|res://*/SqlServer.ip209.GuangZhou.GiGET.Model1.ssdl|res://*/SqlServer.ip209.GuangZhou.GiGET.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_Gi;Persist Security Info=True;User ID=sa;Password=hantele;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GuangZhou_GnGET" connectionString="metadata=res://*/SqlServer.ip209.GuangZhou.GnGET.Model1.csdl|res://*/SqlServer.ip209.GuangZhou.GnGET.Model1.ssdl|res://*/SqlServer.ip209.GuangZhou.GnGET.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_Gn;Persist Security Info=True;User ID=sa;Password=hantele;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GuangZhou_GwGET" connectionString="metadata=res://*/SqlServer.ip209.GuangZhou.GwGET.Model1.csdl|res://*/SqlServer.ip209.GuangZhou.GwGET.Model1.ssdl|res://*/SqlServer.ip209.GuangZhou.GwGET.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_Giw;Persist Security Info=True;User ID=sa;Password=hantele;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GuangZhou_Gb_TCP_ReTransmission" connectionString="metadata=res://*/SqlServer.Local.Gb_TCP_ReTransmission.Gb_TCP_ReTransmission.csdl|res://*/SqlServer.Local.Gb_TCP_ReTransmission.Gb_TCP_ReTransmission.ssdl|res://*/SqlServer.Local.Gb_TCP_ReTransmission.Gb_TCP_ReTransmission.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=GuangZhou_Gb;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>