<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GuangZhou_GbEntities" connectionString="metadata=res://*/SqlServer.ip209.GuangZhou.Gb.Model1.csdl|res://*/SqlServer.ip209.GuangZhou.Gb.Model1.ssdl|res://*/SqlServer.ip209.GuangZhou.Gb.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_Gb;User ID=sa;Password=hantele;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GuangZhou_GbEntities_fc" connectionString="metadata=res://*/SqlServer.ip209.GuangZhou.GbFlowControl.Model1.csdl|res://*/SqlServer.ip209.GuangZhou.GbFlowControl.Model1.ssdl|res://*/SqlServer.ip209.GuangZhou.GbFlowControl.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_Gb;Persist Security Info=True;User ID=sa;Password=hantele;Connect Timeout=0;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GuangZhou_GbEntities_fc_ms" connectionString="metadata=res://*/SqlServer.ip209.GuangZhou.GbFlowControlms.Model1.csdl|res://*/SqlServer.ip209.GuangZhou.GbFlowControlms.Model1.ssdl|res://*/SqlServer.ip209.GuangZhou.GbFlowControlms.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_Gb;User ID=sa;Password=hantele;Connect Timeout=0;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GuangZhou_GiGET" connectionString="metadata=res://*/SqlServer.ip209.GuangZhou.GiGET.Model1.csdl|res://*/SqlServer.ip209.GuangZhou.GiGET.Model1.ssdl|res://*/SqlServer.ip209.GuangZhou.GiGET.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_Gi;Persist Security Info=True;User ID=sa;Password=hantele;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GuangZhou_GnGET" connectionString="metadata=res://*/SqlServer.ip209.GuangZhou.GnGET.Model1.csdl|res://*/SqlServer.ip209.GuangZhou.GnGET.Model1.ssdl|res://*/SqlServer.ip209.GuangZhou.GnGET.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_Gn;Persist Security Info=True;User ID=sa;Password=hantele;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GuangZhou_GwGET" connectionString="metadata=res://*/SqlServer.ip209.GuangZhou.GwGET.Model1.csdl|res://*/SqlServer.ip209.GuangZhou.GwGET.Model1.ssdl|res://*/SqlServer.ip209.GuangZhou.GwGET.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_Giw;Persist Security Info=True;User ID=sa;Password=hantele;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GuangZhou_Gb_TCP_ReTransmission" connectionString="metadata=res://*/SqlServer.Local.Gb_TCP_ReTransmission.Gb_TCP_ReTransmission.csdl|res://*/SqlServer.Local.Gb_TCP_ReTransmission.Gb_TCP_ReTransmission.ssdl|res://*/SqlServer.Local.Gb_TCP_ReTransmission.Gb_TCP_ReTransmission.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=GuangZhou_Gb;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GuangZhou_Gb_LLC_ReTransmission" connectionString="metadata=res://*/SqlServer.Local.Gb_LLC_ReTransmission.Model1.csdl|res://*/SqlServer.Local.Gb_LLC_ReTransmission.Model1.ssdl|res://*/SqlServer.Local.Gb_LLC_ReTransmission.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=GuangZhou_Gb;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="tcp_dataEntities" connectionString="metadata=res://*/SqlServer.ip33.tcp_data.TcpRetransmission.csdl|res://*/SqlServer.ip33.tcp_data.TcpRetransmission.ssdl|res://*/SqlServer.ip33.tcp_data.TcpRetransmission.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.33;Initial Catalog=tcp_data;User ID=sa;Password=hantele123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="foshan_llc_dataEntities" connectionString="metadata=res://*/SqlServer.ip249.llc_data.tcp_data.csdl|res://*/SqlServer.ip249.llc_data.tcp_data.ssdl|res://*/SqlServer.ip249.llc_data.tcp_data.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.249;Initial Catalog=foshan_llc_data;Persist Security Info=True;User ID=sa;Password=hantele123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="foshan_tcp_dataEntities" connectionString="metadata=res://*/SqlServer.ip249.tcp_data.tcp_data.csdl|res://*/SqlServer.ip249.tcp_data.tcp_data.ssdl|res://*/SqlServer.ip249.tcp_data.tcp_data.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.249;Initial Catalog=foshan_tcp_data;User ID=sa;Password=hantele123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.27706" newVersion="1.6.0.27706" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.27695" newVersion="1.6.0.27695" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>