<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages">
  <package id="EFCodeFirst.CreateTablesOnly" version="1.0.2" xmlns="" />
  <package id="EntityFramework" version="5.0.0" xmlns="" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" xmlns="" />
  <package id="WebActivator" version="1.4.4" xmlns="" />
</packages>