<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Guangzhou_GbEntities" connectionString="metadata=res://*/ServerEntity.Gb.GuangZhou_Gb.csdl|res://*/ServerEntity.Gb.GuangZhou_Gb.ssdl|res://*/ServerEntity.Gb.GuangZhou_Gb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Guangzhou_Gb;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GuangZhou_GbEntities_209" connectionString="metadata=res://*/ServerEntity.Gb_209.Model1.csdl|res://*/ServerEntity.Gb_209.Model1.ssdl|res://*/ServerEntity.Gb_209.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_Gb;User ID=sa;Password=hantele;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>