<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <system.serviceModel>

    <services>

      <service name="MutliInterfaceGnGi.Service1" behaviorConfiguration="mex">

        <host>

          <baseAddresses>

            <add baseAddress="net.tcp://192.168.4.209:64567/"/>

          </baseAddresses>

        </host>

        <endpoint address="net.tcp://192.168.4.209:64567/Service1" binding="netTcpBinding"

                  bindingConfiguration="tcpWindowsSecurity" name="helloEndPoint"

                  contract="MutliInterfaceGnGi.IService1"/>



        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />

      </service>

    </services>

    <bindings>



      <netTcpBinding>

        <binding name="tcpWindowsSecurity">

        </binding>

      </netTcpBinding>

    </bindings>



    <behaviors>

      <serviceBehaviors>

        <behavior name="mex">

          <serviceMetadata  />

        </behavior>

      </serviceBehaviors>

    </behaviors>

  </system.serviceModel>





  <connectionStrings>
    <add name="Guangzhou_GnGiEntities" connectionString="metadata=res://*/Guangzhou_GnGi.csdl|res://*/Guangzhou_GnGi.ssdl|res://*/Guangzhou_GnGi.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Guangzhou_GnGi;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>