<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Guangzhou_GnGiEntities111" connectionString="metadata=res://*/GnGi_Model1.csdl|res://*/GnGi_Model1.ssdl|res://*/GnGi_Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_GnGi;Persist Security Info=True;User ID=sa;Password=hantele;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Gn" connectionString="metadata=res://*/Gn_Model1.csdl|res://*/Gn_Model1.ssdl|res://*/Gn_Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=GuangZhou_Gn;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Gi" connectionString="metadata=res://*/Gi_Model1.csdl|res://*/Gi_Model1.ssdl|res://*/Gi_Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Guangzhou_Gi;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Gn111" connectionString="metadata=res://*/Gn_Model1.csdl|res://*/Gn_Model1.ssdl|res://*/Gn_Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_Gn;Persist Security Info=True;User ID=sa;Password=hantele;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Gi111" connectionString="metadata=res://*/Gi_Model1.csdl|res://*/Gi_Model1.ssdl|res://*/Gi_Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.4.209;Initial Catalog=GuangZhou_Gi;Persist Security Info=True;User ID=sa;Password=hantele;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Guangzhou_GnGiEntities" connectionString="metadata=res://*/GnGi_Model1.csdl|res://*/GnGi_Model1.ssdl|res://*/GnGi_Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Guangzhou_GnGi;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"></add>
  </connectionStrings>

  
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IService11" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.4.209:8732/Design_Time_Addresses/MultiInterFace/Service1/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1"
        contract="MultiInterFace.IService1" name="WSHttpBinding_IService1">
        <identity>
          <userPrincipalName value="HANTELE-55CE44F\Administrator" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/MutliInterfaceGnGi/Service1/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService11"
        contract="ServiceReference1.IService1" name="WSHttpBinding_IService11">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>



